[submodule "config/alacritty/catppuccin"]
	path = config/alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty.git
[submodule "config/nvim/nvim"]
	path = config/nvim/nvim
	url = https://github.com/NvChad/NvChad
